
style. 
      .createvote {
      text-align: center;
      }
      input {
      vertical-align: middle;
      }
      .createvote div {
      width: 300px;
      margin: 10px auto;
      //- background: rgb(208, 145, 145); 
      font-size: 25px;
      }
      div>span {
      display: inline-block;
      width: 120px;
      margin-left: -20px;
      }
      div.anony>span {
      margin-left: -135px;
      }
      div.anony>input {
      width: 20px;
      height: 20px;
      }
      .options {
      /* background: rgb(221, 159, 159); */
      padding-bottom: 15px;
      border:1px solid black;
      }
      .del{
            margin-left:5px;
      }
      .options * {
      vertical-align: middle;
      }
  