style.
   .vote{
     margin:0 auto;
     text-align:center;
     
   }
   .vote div{
     width:450px;
    //-  background:rgb(15,100,0);
   }
   .vote div>span{
     display:inline-block;
     margin:10px 35px;
     color:rgb(255,100,0);
     border-bottom:1px solid black;
     font-size:25px;
   }  
   .items{
    position:relative;
    width:450px;
    //- background:rgb(5,100,0);
    font-size:20px;
   }
   .items .sp{
     font-size: initial;
   }
   div.item{
     width:200px;
     display:inline-block;
     cursor: pointer;
     height:30px;
     border:1px solid rgb(232, 202, 132);
     background: rgb(149, 255, 162);
     padding-top:3px;
     margin:10px auto;
   }
   .items .sp{
     position:absolute;
     width:100px;
     height:35px;
     margin-left:-20px;
    //-  background:rgb(215,0,10);
   }
   div.item+span.res{
      display:inline-block;
      width:50px;
      height:35px;
      margin:10px 5px;
      color:blue;
      border-bottom:2px solid red;
      box-sizing:border-box;
      font-size:25px;
      //- background:rgb(215,0,10);
      vertical-align:middle;
   }

   

